*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}
html,body{
  height: 100%;
  width: 100%;
}
#root{
  height: 100%;
  width: 100%;
  background-color: black;
}

.notes{
  height: fit-content;
  /* background-color: red; */
  padding: 2rem;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.note{
  background-color: hsl(0, 10%, 87%);
  padding: 1rem;
  width: 20rem;
  border-radius: 1rem;
  ;
   
}

